
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id = "dev" class = "com.Shalini.Dev">

        <property name="laptop" ref="lap"/>
        <property name="age" value="15"/>

<!--        <constructor-arg index="0" value="20"/>-->
<!--        <constructor-arg index="1" value="10000"/>-->
        <constructor-arg ref="lap"/>

    </bean>
    <bean id = "lap" class = "com.Shalini.Laptop">

    </bean>

</beans>